.cart-widget {
  color: #ffffff;
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  &:hover{
    color: #ff66cc;
    transform: scale(1.1);
    filter: drop-shadow(0 0 6px #ff66cc);
  }
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: #ff66cc;
  color: #14031a;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
}
