.btn-grad {
    background-image: linear-gradient(to right, #3494E6 0%, #EC6EAD 51%, #3494E6 100%);
    background-size: 200% auto; 
    
    margin: 10px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: white; 
    border-radius: 10px;
    border: none;
    display: block;
}


.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.card-item {
    background: linear-gradient(to right, #29323c, #485563); 
    color: #fff;
    border: none;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 
        0 4px 8px rgba(0, 0, 0, 0.2), 
        0 0 10px rgba(52, 148, 230, 0.3);
}


.card-item:hover {
    transform: translateY(-5px); 
    box-shadow: 
        0 8px 16px rgba(0, 0, 0, 0.4), 
        0 0 25px rgba(236, 110, 173, 0.7), 
        0 0 40px rgba(236, 110, 173, 0.5); 
}


.card-footer {
    display: flex;
    justify-content: center;
    background: transparent; 
    border: none;
}