.custom-navbar {
background: #634c56;
background: radial-gradient(circle, rgba(99, 76, 86, 1) 0%, rgba(26, 20, 133, 1) 100%);
  user-select: none;
}

/* Logo */
.navbar-brand img {
  transition: transform 0.3s ease, filter 0.3s ease;
   &:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 8px #ff66cc) drop-shadow(0 0 16px #8a2be2);
  }
}

/* Enlaces del menú */
.nav-link {
  color: #ffffff !important;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  transition: color 0.3s ease, transform 0.3s ease;
  &:hover{
    color: #f5e0f0 !important;
    transform: translateY(-2px);
  }
}

/* Botón hamburguesa */
.navbar-toggler {
  border-color: #ff66cc;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ff66cc' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Espaciado extra */
.cart-container {
  margin-right: 1rem;
}

.custom-divider {
  border-top: 2px solid #6e6a6d;
  opacity: 1;
  margin: 8px 0;
}

