.custom-navbar {
  background-color: #14031a;
  border-bottom: 1px solid #8a2be2;
}

/* Logo */
.navbar-brand img {
  transition: transform 0.3s ease, filter 0.3s ease;
   &:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 8px #ff66cc) drop-shadow(0 0 16px #8a2be2);
  }
}

/* Enlaces del menú */
.nav-link {
  color: #ffffff !important;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  transition: color 0.3s ease, transform 0.3s ease;
  &:hover{
    color: #ff66cc !important;
    transform: translateY(-2px);
  }
}

/* Botón hamburguesa */
.navbar-toggler {
  border-color: #ff66cc;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ff66cc' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Espaciado extra */
.cart-container {
  margin-right: 1rem;
}

@media (max-width: 767px) {
  .cart-container {
    justify-content: center !important;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
