@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

::selection{
    background-color:#EC6EAD;
    color: #ffffff;
}


*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    scrollbar-color: #8A2BE2 #000000; 
    scrollbar-width: thin;
}


::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #000000; 
}


::-webkit-scrollbar-track:hover {
    background-color: #000000;
}
::-webkit-scrollbar-track:active {
    background-color: #1E1F20;
}
::-webkit-scrollbar-thumb {
    background-color: #8A2BE2;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #8A2BE2;
}
::-webkit-scrollbar-thumb:active {
    background-color: #8A2BE2;
}